logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
build/
*.local
.env
.env.local
.env.development
.env.production
.env.test
.eslintcache
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
package-lock.json
yarn.lock
pnpm-lock.yaml

bin/
obj/
*.user
*.suo
*.userprefs
*.cache
*.bak
*.ncb
*.aps
*.log
*.tlog
*.sdf
*.opensdf
*.pdb
*.idb
*.ilk
*.exe
*.dll
*.obj
*.iobj
*.ipdb
*.tlog
*.meta

*.nupkg
packages/
**/project.lock.json
**/project.fragment.lock.json
**/artifacts/


.idea/
*.sln.iml
*.csproj.user
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
*.vs/*
*.suo
.ntvs*
.njsproj
*.sln.docstates

TestResults/
*.trx
*.xml
*.coverage
*.coveragexml

[Pp]ublish/
[Pp]ublishOutput/
[Pp]ublishWebOutput/
*.pubxml
*.pubxml.user

.azure*
*.azurePubxml

*.bak
*.cache
*.log
*.swp
*~
*.tmp
*.temp
.tmpproj
Thumbs.db
.env
secrets.json

docker-compose.override.yml
*.dockerignore

coverage/

*.mdf
*.ldf

node_repl_history
*.pid
*.seed
*.db
*.sqlite

.DS_Store

Desktop.ini
ehthumbs.db
Thumbs.db

*.sublime-project
*.sublime-workspace

bin/
obj/
*.dll
Debug/

Fereira.Costa.Application/bin/
Fereira.Costa.Application/obj/
Fereira.Costa.Application/*.dll
Fereira.Costa.Application/Debug/

Fereira.Costa.Domain/bin/
Fereira.Costa.Domain/obj/
Fereira.Costa.Domain/*.dll
Fereira.Costa.Domain/Debug/

Fereira.Costa.Infra/bin/
Fereira.Costa.Infra/obj/
Fereira.Costa.Infra/*.dll
Fereira.Costa.Infra/Debug/

Fereira.Costa.Server/bin/
Fereira.Costa.Server/obj/
Fereira.Costa.Server/*.dll
Fereira.Costa.Server/Debug/

Fereira.Costa.Shared/bin/
Fereira.Costa.Shared/obj/
Fereira.Costa.Shared/*.dll
Fereira.Costa.Shared/Debug/